.footer {
  min-height: 89px;
  padding: 16px 0 0;
  // box-shadow: 0 13px 48px 0 rgb(218 218 218 / 44%);
  text-align: center;
  border-top: 1px solid #dadada;
  display: flex;
  flex-direction: column;

  &__inner {
    display: flex;
    flex-direction: column;

    align-items: flex-start;
    @media (min-width: $min-width-md) {
      flex-direction: row;
      align-items: flex-start;
      justify-content: space-between;
    }
  }

  &__logo {
    margin: 0 0 24px 0;
    @media (min-width: 414px) {
      margin: 32px 0 36px 0;
    }
  }

  &__lists {
    display: flex;
    flex-direction: column;

    @media (min-width: 414px) {
      flex-direction: row;
      justify-content: space-between;
    }
  }

  &__contact,
  &__list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    @media (min-width: 414px) {
      border-right: 1px solid $grey-border;
    }

    @media (min-width: $min-width-md) {
      padding: 0 24px;
    }

    &__title {
      font-weight: bold;
      font-size: 18px;
      text-align: left;
      margin: 0 0 12px 0;
    }
  }

  &__list {
    @media (min-width: 414px) {
      padding: 32px 24px 0 0;
    }

    @media (min-width: $min-width-md) {
      padding: 32px 24px 0;
    }
  }

  &__contact {
    padding: 24px 0 0 0;
    &__item {
      font-size: $smaller;
      position: relative;
      display: flex;
      align-items: center;
      font-weight: 500;
      text-align: left;
      margin: 0 0 16px 0;

      p {
        font-size: $smaller;
      }
    }

    @media (min-width: 414px) {
      padding: 30px 24px 0 24px;
    }
  }

  &__icon {
    height: 16px;
    width: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 12px 0 0;
    svg {
      height: 100%;
      width: 100%;

      g {
        path {
          fill: $grey-text-new;
        }
      }

      path {
        fill: $grey-text-new;
      }
    }
  }

  &__link {
    font-weight: 500;
    text-align: left;
    font-size: $smaller;
    position: relative;

    &:after {
      position: absolute;
      content: "";
      bottom: -1px;
      left: 0;
      width: 0;
      height: 1px;
      background-color: $black;
      transition: 0.4s all ease-in-out;
    }

    &:hover {
      &:after {
        width: 100%;
      }
    }

    &:not(:last-of-type) {
      margin: 0 0 12px 0;
    }
  }

  .black {
    background-color: $black;
  }

  .copyright {
    margin-top: 32px;
    text-align: left;
    background: $black;
    color: $white;
    padding: 16px 0;

    p {
      font-size: $smallest;
    }
  }

  &__social {
    // padding-top: 4%;\
    padding: 8px 0 0 0;
    display: flex;
    justify-content: flex-start;
    @media (min-width: 414px) {
      padding: 0 0 0 24px;
    }

    @media (min-width: $min-width-md) {
      padding: 32px 24px 0;
    }

    a {
      display: flex;
      align-items: center;
    }
    &__icon {
      width: 16px;
      height: 16px;

      svg {
        path {
          fill: $grey-text-new;
        }
      }
    }
  }

  @media (min-width: $min-width-md) {
    padding: 32px 0 0 0;

    .padtop {
      padding: 0 8px 0 24px;
    }
  }
}

/* Extra Small Devices, Phones */
@media only screen and (min-width: $min-width-md) {
  footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .social {
      // padding-top: 0;
    }
  }
}
