.contact {
  &__section {
    min-height: calc(100vh - 69px);

    // @media (min-width: $min-width-md) {
    //   min-height: calc(100vh - 88px);
    // }

    padding: 48px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    // background-color: $grey-bg;

    .container {
      height: 100%;
    }
  }

  &__list {
    margin: 24px auto 0 auto;

    @media (min-width: $min-width-md) {
      margin: 24px 0 0;
    }
    &__item {
      display: flex;
      font-weight: 500;
      align-items: center;

      margin: 0 0 16px 0;
    }
  }

  h2 {
    margin: 0;
  }
}

.card {
  margin: 0 auto;
  // box-shadow: 0 13px 48px 0 rgb(218 218 218 / 44%);
  // border-radius: 10px;
  border: 1px solid #dadada;
  // background-color: $white;
  max-width: 100%;
  padding: 32px;

  @media (min-width: $min-width-sm) {
    width: 80%;
  }
  @media (min-width: $min-width-md) {
    margin: 0 0 0 auto;
  }
}

.grid {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;

  .text__container {
    margin: 0 0 32px 0;
    h2 {
      margin: 0 0 24px 0;
    }
  }

  @media (min-width: $min-width-md) {
    grid-template-columns: 1fr 1fr;
  }

  &__col {
    display: flex;
    justify-content: center;

    flex-direction: column;

    &:first-of-type {
      margin: 0 0 32px 0;
    }

    &--center {
      align-items: center;
    }
  }
}
