.info-with-image {
  // display: flex;
  // align-items: unset;
  // flex-direction: column;
  // margin: auto;
  // padding-bottom: 30px;
  margin-top: 88px;
  height: calc(100vh - 88px);
  .featured-image {
    position: relative;
    height: 100%;
    width: 100%;
    // order: 2;
    // margin: 0;
    // padding-top: 20px;

    // @media only screen and (min-width: $min-width-l) {
    //   margin-right: 60px;
    // }

    .mobile-thumbnail {
      display: block;

      @media (min-width: $min-width-md) {
        display: none;
      }
    }

    .tablet-thumbnail {
      display: none;

      @media (min-width: $min-width-md) {
        display: block;
      }

      @media (min-width: $min-width-l) {
        display: none;
      }
    }

    .desktop {
      // display: none;
      // width: 516px;

      @media (min-width: $min-width-l) {
        display: block;
        height: 100%;
      }
    }
  }

  .text-content {
    margin-bottom: 30px;
    text-align: left;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    h1,
    h2 {
      margin-top: 20px;
    }

    h3 {
      margin-top: 20px;
      line-height: 36px;
      font-size: 20px;
    }

    p {
      margin-top: 20px;
      line-height: 30px;
      font-size: 16px;
    }
  }
}
