.info-with-image {
  // height: calc(100vh - 88px - 89px);
  position: relative;

  // height: calc(100vh - 88px - 89px);
  height: calc(100vh - 72px);

  @media (min-width: $min-width-md) {
    height: calc(100vh - 88px);
  }

  // display: flex;
  // align-items: unset;
  // flex-direction: column;
  // margin: auto;
  // padding-bottom: 30px;

  .featured-image {
    height: 100%;
    width: 100%;
    // order: 2;
    // margin: 0;
    // padding-top: 20px;

    // @media only screen and (min-width: $min-width-l) {
    //   margin-right: 60px;
    // }

    .mobile-thumbnail {
      display: block;

      @media (min-width: $min-width-md) {
        display: none;
      }
    }

    .tablet-thumbnail {
      display: none;

      @media (min-width: $min-width-md) {
        display: block;
      }

      @media (min-width: $min-width-l) {
        display: none;
      }
    }

    .desktop {
      height: 100%;
      // display: none;
      // width: 516px;

      @media (min-width: $min-width-l) {
        display: block;
        height: 100%;
      }
    }
  }

  .text-content {
    margin-bottom: 30px;
    text-align: left;
    color: #fff;
    // position: absolute;
    // top: 50%;
    // left: 16px;
    // transform: translate(-16px, -50%);

    h1,
    h2 {
      margin-top: 20px;
      color: #fff;
      text-shadow: 0 4px 4px rgb(0 0 0 / 25%);
    }

    h3 {
      margin-top: 20px;
      line-height: 36px;
      font-size: 20px;
    }

    p {
      margin-top: 20px;
      line-height: 30px;
      font-size: 16px;
    }
  }
}

main {
  margin-top: 72px;
  height: calc(100vh - 72px);

  @media (min-width: $min-width-md) {
    margin-top: 88px;
    height: calc(100vh - 88px);
  }
}

.shadow {
  box-shadow: 0 13px 48px 0 rgb(215 216 222 / 44%);
  width: 100%;
  height: 2px;
}
