/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
*,
html {
  -webkit-font-smoothing: antialiased;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  box-sizing: border-box;
}
::selection {
  background: #fff7c7; /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: #fff7c7; /* Gecko Browsers */
}

body {
  font-family: $font-sans-serif;
  letter-spacing: 0;
}

button:focus {
  outline: 0;
}

.auto-grid {
  display: grid;
  grid-template-columns: repeat(
    auto-fill,
    minmax(var(--auto-grid-min-size), 1fr)
  );
  grid-gap: 2rem;
  max-width: inherit;
}

main,
header,
footer {
  margin: 0 auto;
}

main {
  // padding: 0 16px;
}

footer {
  padding: 24px 16px;
}

/* Small Devices, Tablets */
// @media only screen and (min-width: $min-width-l) {
//   header,
//   footer {
//     padding: 38px 80px;
//   }
// }

/* Medium Devices, Desktops, Large Devices, Wide Screens */

@media only screen and (min-width: $min-width-xl) {
  header,
  footer {
    padding: 38px 7%;
  }
  main {
    // max-width: 1080px;
    // margin: auto;
  }
}

.container {
  max-width: 1080px;
  padding: 0 16px;
  width: 100%;
  margin: 0 auto;
}

.flexBetween {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.fadeContainer {
  position: relative;
  height: 100vh;
  width: 100%;
}

.fadeSection {
  margin-top: 88px;
  height: calc(100vh - 88px);
}

.fadeItem {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: absolute;
  transition: 1.5s opacity ease-in-out;
  opacity: 0;

  &:before {
    background-image: linear-gradient(
      180deg,
      #140e32,
      hsla(0, 0%, 77%, 0) 59.68%
    );
    bottom: 0;
    content: "";
    left: 0;
    mix-blend-mode: multiply;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
    -webkit-transform: rotate(-180deg);
    transform: rotate(-180deg);
  }
}

.visible {
  opacity: 1;
}

.fadeImage {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.fadeText {
  font-size: 52px;
  font-weight: bold;
  max-width: 580px;
  color: #ffff;
  position: relative;
  z-index: 2;
  text-shadow: 0 4px 4px rgb(0 0 0 / 25%);
  opacity: 0;

  transform: translate(0, -50%);
  z-index: 20;

  transform: translate(0, calc(-50% + 20px));
  transition: all 2s ease;
  z-index: 3;

  &--visible {
    opacity: 1;
    transform: translate(0, -50%);
    transition: all 2s ease;
  }
}

@keyframes fade {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fadeItem-1 {
  z-index: 3;
}

.fadeItem-2 {
  z-index: 2;
}

.fadeItem-3 {
  z-index: 1;
}

.fadeItem-visible {
  opacity: 1;
}

.fadeItem-fade {
  opacity: 0;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "PL";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  color: black;
  display: flex;
  align-items: center;
  font-size: 12px;
  justify-content: center;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
  color: black;
  content: "EN";
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
