$grey-text: #27374c;
$grey-text-new: #6c6c6c;
$grey-logo: #a6a8ab;
$grey-bg: #f4f4f4;
$grey-border: #dadada;
$grey-text-new: #6c6c6c;
$white: #fff;
$black: #000;
$red: rgb(211, 65, 65);
$green: #69c681;
